---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
---

<p>Currrently, I am a TA (teaching assistant) for sections of MATH 151 (Calculus 1 for Engineers). 
  My office hours are on <b>Wednesday, 12-1PM</b> at my office. If you are a student in my section and need to reach out to me, please do so via email.</p>
<p>In the past, I have been a TA for,
<ul>
  <li>MATH 610 (Numerical Methods for PDEs, graduate class) - Taught in Spring 2025</li>
  <li>MATH 442 (Mathematical Modeling) - Taught in Spring 2023</li>
  <li>MATH 151 (Calculus 1 for Engineers) - Taught in Fall 2023, Fall 2022 </li>
  <li>MATH 150 (Functions, Trig, Linear Systems for Engineers) - Taught in Fall 2024</li>
</ul></p>


{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



