---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
---

<p>List of publications (including preprints),
<ul>
  <li><b>In-Context Multi-Operator Learning with DeepOSets</b>, with Shao-Ting Chiu, Ali Syed, Jonathan Siegel, and Ulisses Braga-Neto</li>
    <ul>
      <li> In this paper, we show that the DeepOSets architecture, with the appropriate modifications, is a multi-operator in-context learner that can recover the solution operator of a new PDE, not seen during training, from example pairs of parameter and solution placed in a user prompt, without any weight updates. Furthermore, we show that DeepOSets is a universal uniform approximator over a class of continuous operators</li>
      <li>Preprint available at <a href="https://arxiv.org/abs/2512.16074"> https://arxiv.org/abs/2512.16074</a></li>
    </ul>
</ul></p>


{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



