/* Rectangular author portrait */

.author__avatar img {
  width: 100%;
  max-width: 175px;

  aspect-ratio: 4 / 5;
  object-fit: cover;

  border-radius: 0;
  padding: 0;

  border: 1px solid var(--global-border-color);
}
